
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
The English Design For web Site
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/



/*--------------------------------------------------------------
Animations 
---------------------------------------------------------------*/

@keyframes button_move{
	0%{  background: rgb(255,177,28);  }
	15%{  background: linear-gradient(to right , #444 10%, rgb(255,177,28) 40%);  }
	25%{  background: linear-gradient(to right , #444 30%, rgb(255,177,28) 50%);  }
    50%{ background: linear-gradient(to right , #444 50%, rgb(255,177,28) 70%); }
    60%{ background: linear-gradient(to right , #444 70%, rgb(255,177,28) 90%); }
	75%{ background: linear-gradient(to right , #444 90%, rgb(255,177,28) 100%); }
	100%{ background: #444; }
}

@keyframes cardcome{
	from{
		width: 1px;
	}
	to{
		width: 100%;
	}
}


/*---------------------------------------------------------------*/

/*@font-face{
  font-family: Montserrat-Arabic-Regular ;
  src : url('../fonts/Montserrat-Arabic-Regular.ttf');
} 

@font-face{
  font-family: Montserrat-Arabic-Bold ;
  src : url('../fonts/Montserrat-Arabic-Bold.ttf');
}*/

/*-------------------------------------------------------------
General
---------------------------------------------------------------*/

html{
	margin-right: 5px;
	margin-left: 5px;
	background-color: #000;
}

body{
margin-right: 10px;
	margin-left: 10px;
	background-color: #fff;
}

html , body , #pointer{
	direction: ltr;
}

h4{
	font-family: Montserrat-Arabic-Regular ;
	font-size: 20px;
}

h2{
	font-family: Montserrat-Arabic-Bold ;
	font-size: 25px;
	font-weight: normal;
}


.btn-main{
	font-family: Montserrat-Arabic-Regular ;
	background : rgb(255,177,28);
	color: #fff;
	padding : 9px;
	margin : 5px;
	border: none;
	border-radius: 3px;
	text-align: center;
	font-size: 15px;
}

.btn-main:hover{
	background-color: gray;
	animation-name: button_move;
	animation-duration: 0.3s;
	animation-timing-function: ease; 
	animation-fill-mode: both;
}

/*---------------------------------------------------------*/
#header{

}

#header #top{
	background-color: rgb(20,20,20);
	color: #fff;
	padding-top: 8px;
	padding-right: 8px;
	padding-left:8px;
	padding-bottom: 3px;
	font-weight: 400;
	border-bottom: solid 1px #444; 
}

#header a{
	color: #fff;
}

#header .bottom{
	font-family: Montserrat-Arabic-Regular;
	background-color: rgb(29,29,29);
	color: #fff;
	padding-top: 0px;
	padding-bottom: 0px
	padding-left 10px;
	padding-right: 10px; 

}

#header .row{
	padding: 5px;
}

#header .bottom ul{
	list-style-type: none;
}

#header .bottom ul li a{
	color: #fff ; 
	float: left;
	padding: 10px;
	
}

#header .bottom ul li a:active{
	color: rgb(255,177,28);
}

#header .bottom ul li a:hover{
	color: rgb(255,177,28);
	text-decoration: none;
}


/*************************************************/

/***********************services_list*********************
*************************************************/

#services_list{
	font-family: Montserrat-Arabic-Regular;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	display: none;
}

#services_list ul{
	list-style: none;
	padding-bottom: 15px;
}

#services_list ul li{
	float: left;
}

#services_list ul li a{
	font-size: 15px;
	color: #888;
	font-weight: bold;
	text-decoration: none;
	padding-top : 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#services_list ul li a:hover{
	color: rgb(255,177,28);
}


/*************************************************/

/***********************pointer*********************
*************************************************/

#pointer{
	font-family: Montserrat-Arabic-Regular;
	text-align: left;
	clear: both;
}

#pointer img{
	height: 50px;
}

#pointer b{
	color: #888;
}


/*************************************************/


/***********************hero*********************
*************************************************/

#hero{
	text-align: center;
	color: #fff;
	background: url('../images/hero/hero.jpg');
	background-size: 100%;
	height: 500px;
	background-position: center;
	background-clip: content-box;
}

#hero div{
	background-color: #111111aa;
	height: 100%;
	text-align: center;
}

#hero h1{
	padding-top: 150px;
	font-weight: 900;
	font-size: 40px;
	font-family: Montserrat-Arabic-Bold;
}

#hero h1 b{
	color: rgb(255,177,28);
}


#hero p {
	text-align: left;
	width: 54%;
	font-weight: bold;
	font-size: 15px;
	font-family: Montserrat-Arabic-Regular;
}

/*************************************************/


/***********************why*********************
*************************************************/

#why{
	font-family: Montserrat-Arabic-Regular;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
	font-weight: bold;
}

#why h4{
	color: rgb(255,177,28);
}

#why h1 , h4 , h3{
	font-weight: 500px;
	padding: 5px;
}

#why img{
	/*margin: 10px;*/
	width: 50px;
	height: 50px;
	position: relative;
	top: -10px;
}

#why p{
	text-align: left;
}

/*************************************************/

/***********************about*********************
*************************************************/

#about{
	text-align: left;
	direction: rtl;
	font-family: Montserrat-Arabic-Regular;
	background :url('../images/about-bg-ground.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: inherit;
	background-color: rgb(30,30,30);
	color: #fff;
	padding-top: 100px;
	padding-left: 50px;
}

#about .col-lg-6{
	direction: ltr;
}

#about h4{
	color: rgb(255,177,28);
}

#about h4 , #about h2 , #about p{
	text-align: left;
}

/*************************************************/

/***********************services*********************
*************************************************/

#services{
	font-family: Montserrat-Arabic-Regular;
	background-color: rgb(243,243,243);
	padding:20px;
	text-align: left;
}

#services h4{
	font-weight: 900px;
	color: rgb(255,177,28);
}

#services h2{
	font-weight: 1500;
}

#services .col-lg-4{
	padding : 10px;
	width: 50%;
}

#services .col-lg-4 div{
	width: 100%;
	background-color: #fff;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
}

#services .col-lg-4 div:hover{
	border : solid 2px rgb(255,177,28); 
	border-radius: 5px;
}

#services .col-lg-4 img{
	width: 50px;
	height: 50px;
}

#services .col-lg-4 h5{
	font-family:Montserrat-Arabic-Bold;
	color: #000;
	font-weight: 2000;
	padding : 5px;
	margin: 5px;
}

#services .col-lg-4 p{
	padding : 5px;
	margin: 5px;
	color: rgb(135,135,135);
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

#services .col-lg-4 a{
	font-family:Montserrat-Arabic-Bold;
	padding : 5px;
	margin: 5px;
	color: rgb(35,35,35);
	font-size: 15px;
}

/*************************************************/

/***********************statics*********************
*************************************************/

#statics{
	font-family:Montserrat-Arabic-Bold;
	padding-top : 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 50px;
	text-align: center;
	background-color: rgb(18,17,12);
	color  : rgb(118,117,116);
}

#statics h2{
	color : #fff;
}

#statics h4{
	color : rgb(232,144,18);
}

#statics .col-lg-2{
	padding: 10px;
}

#statics .col-lg-2 div{
	width: 100%;
	background-color: rgb(27,26,22); 
	padding-top: 5px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

#statics .col-lg-2 div img{
	background-color: rgb(24,22,19);
	width: 100px;
	height: 100px;
	position: relative;
	top : -30px;
	border-radius: 50%;
}

#statics .col-lg-2 div h3{
	font-size: 35px;
	font-weight: 700;
}

#statics .col-lg-2 div h3:hover{
	color: rgb(232,144,18);
}

#statics .col-lg-2 div b{
	font-size: 13px;
	font-weight: 600;
}

/*************************************************/

/***********************fileds*********************
*************************************************/

#fileds{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: rgb(239 , 238 , 237 );
	height: 500px;
}

#fileds h4{
	color : rgb(232,144,18);
} 

#fileds  .item{
	background-color: silver;
	width: 16%;
	height: 250px;
	float: left;
	margin: 3px;
	border-color: rgba( 12,12,12,50 );
}

#fileds  .item img{
	width: 100%;
	height: 250px;
}

#fileds  .item h5{
	font-family:Montserrat-Arabic-Bold;
	font-size: 13px;
	margin-bottom: 15px;
}

#fileds  .item p{
	font-family:Montserrat-Arabic-Regular;
	font-size: 12px;
	font-weight: 500;
	color: #eee;
	display: none;
}

#fileds  .item a{
	font-family:Montserrat-Arabic-Regular;
	text-decoration: none;
	color: #eee;
	font-size: 13px;
	font-weight: bold;
}

#fileds  .item a:hover{
	color: rgb(255,177,28);
}

#fileds .trans{
	background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
	background-color: #00000040 ;
	/*opacity: 0.5;*/
	padding: 10px;
	font-size: 17px;
	color: #fff;
	position: relative;
	top :-75px;
	background:linear-gradient(to bottom , #00000020 10%, #000000cc 60%);
}

#fileds .trans:hover{
	/*top :-125px;*/
}

/*************************************************/

/***********************galary*********************
*************************************************/

#galary{
	padding: 50px;
	text-align: center;
}

#galary h4{
	color: rgb(232,144,18);
}

#galary .col-lg-4{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px; 
	padding-left: 4px; 
	margin: 0px;
}

#galary img{
	width: 100%;
	height: 250px;
	margin: 5px;
}

#galary .col-lg-4 .center{
	height: 300px;
}

/*************************************************/

/***********************partener*********************
*************************************************/
#partener{
	text-align: center;
	background-color: rgb(239 , 238 , 237 );
	padding-top: 20px; 
}

#partener h4{
		color: rgb(232,144,18);
}

#partener img{
	width: 150px;
	height: 50;
	background-color: #fff;
	padding: 10px;

}


/*************************************************/


/***********************our-story*********************
*************************************************/

#our-story{
	font-family:Montserrat-Arabic-Regular;
	padding: 20px;
	text-align: left;
	background-color: rgb(239 , 238 , 237 );
}

#our-story h4{
 color: rgb(255,177,28);
}

#our-story h2{
	width: 70%;
	font-weight: 700;
}

#our-story .col-lg-6{
	padding : 30px;
}

#our-story .col-lg-6 .title{
	padding-right: 100px;
}

/*************************************************/

/**********************our-travel*********************
*************************************************/

#our-travel{
	text-align: center;
	background-color: black;
	padding-bottom: 30px;
}

#our-travel h2{
	 color: #fff;
}

#our-travel h4{
	 color: rgb(255,177,28);
}


/*************************************************/


/***********************our-messages*********************
*************************************************/

#our-messages{
	font-family : Montserrat-Arabic-Regular ;
	background-color: rgb(239 , 238 , 237 );
	padding: 20px;
	text-align: left;
	direction: ltr;
}

#our-messages .row{
	background-color: #fff;
	margin : 20px;
	padding: 0px;
}

#our-messages .row .col-lg-2{
	height: 200px;
}

#our-messages .row .col-lg-2 .main{
	width: 100%;
	height: 200px;
}

#our-messages .row .col-lg-2 .icon{
	width: 60px;
	height: 60px;
	position: relative;
	top: -65%;
	left: 82%;
	border: 2px solid gray;
	border-radius: 50%;
}

#our-messages .row .col-lg-10{
	padding-top: 30px;
	padding-left: 30px;
	direction: rtl;
}

#our-messages .row .col-lg-10 p , 
#our-messages .row .col-lg-4 , 
#our-messages .row .col-lg-6{
	direction: ltr;
}

#our-messages .row .col-lg-10 p{
	text-align: left;
}

#our-messages .row .col-lg-10 h2{
	font-size: 20px;
	font-weight: 700;
}

#our-messages .row .col-lg-10 .row .col-lg-4 img ,
#our-messages .row .col-lg-10 .row .col-lg-6 img{
	width: 40px;
}



/*************************************************/

/***********************messter*********************
*************************************************/

#messter{
	font-family: Montserrat-Arabic-Regular;
	padding : 20px;
	text-align: center;
	color: #fff;
	background-color: #000;
}

#messter img{
	width: 70px;
	height: 70px;
	border-radius: 60%;
}

#messter b{
	font-size: 16px;
	font-family: Montserrat-Arabic-Bold;
}

#messter i{
	font-size: 14px;
	color: #999;
}

#messter p{
	text-align: left;
}

/*************************************************/

/***********************team*********************
*************************************************/

#team{
	font-family: Montserrat-Arabic-Regular;
	background-color: rgb(239 , 238 , 237 );
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;

}

#team .col-lg-4 img{
	width: 100%;
	height: 250px;
}

#team .col-lg-1{
	text-align: center;
}

#team .col-lg-1 img{
	width: 50px;
}

#team .row .col-lg-6 p{
	text-align: left;
}

/*************************************************/

/***********************fildes*********************
*************************************************/

#fildes{
	font-family:  Montserrat-Arabic-Regular ;
	text-align: center;
	background-color: rgb(239 , 238 , 237 );
	padding-bottom: 20px;
}

#fildes h4{
	color:  rgb(255,177,28);
}

#fildes h5{
	font-family:  Montserrat-Arabic-Bold ;
	text-align: left;
}

#fildes h2{
	font-weight: 600;
	font-size: 25px;
}

#fildes .row{
	padding: 20px;
	margin : 20px;: 
	color: red;
	background-color: #fff;
	text-align: left;
}

#fildes .row:hover{
	border-bottom: solid 3px rgb(255,177,28);
}

#fildes .row .col-lg-3 img{
	width: 100%;
	height: 230px;
}

#fildes .row .col-lg-4{
	padding: 10px;
}

#fildes .row .col-lg-4 ul , #fildes .row .col-lg-5 ul{
	list-style: none;
}

#fildes .row .col-lg-4 img , #fildes .row .col-lg-5 img{
	width: 30px;
}

#fildes .row .col-lg-5{
	padding: 20px;
}

#fildes .row .col-lg-5 h5 b , #fildes .row .col-lg-4 h5 b {
	color: rgb(255,177,28);
	font-size: 17px;
	background-color: rgb(254 , 242 , 227);
	padding: 8px;
	margin-right : 5px;
	font-weight: bolder;
}

/*************************************************/

/***********************news*********************
*************************************************/

#news{
	font-family: Montserrat-Arabic-Regular ;
	padding: 20px;
	text-align: center;
	background-color:  rgb(239 , 238 , 237 );
}

#news p {
	text-align: left;
	color: #777;
}

#news h4{
	color:  rgb(255,177,28);
}

#news .row .col-lg-8 div{
	background-color: #fff;
	padding: 0px;
	margin :0px;
}

#news .row .col-lg-8 img{
	width: 100%;
	height: 400px;
}

#news .row .col-lg-4 div {
	text-align: left;
	background-color: #fff;
	padding: 0px;
	margin :0px;
}

#news .row .col-lg-4 img{
	width: 100%;
	height: 170px;
}

#news .row h6 , #news .row h5 , p {
 	text-align: left;
 	padding: 10px;

}	

#news .row h5{
	font-size: 17px;
	font-weight: 600;
	text-align: left;
}

#news .row h5:hover{
	color: rgb(255,177,28);
}

#news .row a{
	display: block;
	text-align: right;
	color: #222;
	padding-left: 20px;
	padding-bottom: 10px;
	font-weight: bold;

}

/*************************************************/

/***********************contact*********************
*************************************************/

#contact{
	font-family: Montserrat-Arabic-Regular ;
	padding: 25px;
	text-align: center;
	background-color:  rgb(239 , 238 , 237 );
}

#contact h4{
	color : rgb(255,177,28);
}

#contact .row{
	/*margin: 10px;*/
}

#contact .col-lg-6{
	padding: 10px;
}

#contact .col-lg-6 .div{
	text-align: left;
	padding: 30px;
	margin : 10px;
	font-weight: bold;
}

#contact .col-lg-6 div{
	text-align: left;
	padding: 10px;
	margin : 10px;
}

#contact .col-lg-6 h3{
	font-size: 25px;
	font-weight: 600;
	padding-right: 10px;
	text-align: left;
}

#contact .col-lg-6 h5{
	color: #123;
	font-size: 18px;
	font-weight: 600;
}

#contact input , #contact textarea{
	background-color: rgb(250,250,250);
}

#contact form{
	font-weight: bold;
}

#contact form label b{
	color: red;
}

#contact p{
	text-align: left;
}

/*************************************************/

/***********************success*********************
*************************************************/

#success{
	font-family: Montserrat-Arabic-Regular ;
	padding: 30px;
	text-align: center;
	background-color:  rgb(239 , 238 , 237 );
}

#success .card{
	text-align: center;
	width: 450px;
	height: 350px;
	background-color: #fff;
	padding: 10px;
}



#success .card img{
	text-align: center;
	width: 150px;
	height: 130px;
}

#success .card h5{
	color: gray;
	font-size: 18px;
}

#success .card h6{
	width: 250px;
	background-color: rgb(230 , 230 , 230 );
	padding: 10px;
	border-radius: 10px;
}

#success .card h3 , 
#success .card h5 ,
#success .card h6 {
	padding: 10px;
}  

#success .card h3{
	font-size: 20px;
}

/*************************************************/

#service-items{
	text-align: left;
	font-family: Montserrat-Arabic-Regular ;
	padding: 20px;
	background-color:  rgb(239 , 238 , 237 );
}

#service-items .row{
	text-align: left;
	margin: 20px;
	padding: 10px;
	background-color: #fff;
	text-align: right;
}

#service-items .row .col-lg-12{
	padding: 10px;
}

#service-items .row .col-lg-12 img{
	width: 100%;
	height: 330px;
}

#service-items .row .col-lg-8 , 
#service-items .row .col-lg-4 {
	
} 

#service-items .row .col-lg-8 div , 
#service-items .row .col-lg-4 div {
	text-align: left;
	padding: 15px;
} 

#service-items .row .col-lg-4 ul{
	list-style: none;
}


#service-items .row .col-lg-4 img{
	width: 25px;
}

#service-items .row .col-lg-4 button{
	width: 95%;
}

#service-items p{
	text-align: left;
}

/***********************forms*********************
*************************************************/

#forms{
	direction: ltr;
	text-align: left;
	background-color:  rgb(239 , 238 , 237 );
	font-family: Montserrat-Arabic-Regular;
	font-size: 15px;
}

#forms .container{
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 15px;
	background-color: #fff;
	width: 80%;
}

#forms .container .form-head{
	width: 100%;
	padding: 0px;margin: 0px;
	background: url('../images/form-header.jpg');
	background-size: 100%;
	background-clip:border-box;;
}

#forms .container .form-head h1{
	width: 100%;
	font-family: Montserrat-Arabic-Bold;
	background-color: #00000077;
	color: #fff;
	padding: 30px;
	border-radius: 10px;
}

#forms .btn{
	font-size: 15px;
	margin: 5px;
}

#forms .container form button{
	float: left;
	margin: 10px;
	direction: rtl;
}

#forms input , #forms select , #forms textarea  {
	background-color: #eeeeee44;
	font-size: 17px;
	padding: 5px;
}

/*************************************************/

/***********************Steper Desigin*********************
*************************************************/
.stepwizard-step p {
	text-align: center;
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 0 !important;
    filter: alpha(opacity=100) !important;   
}
.stepwizard-row:before {
   background-color: red;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
   padding : 10px;
   border-radius: 50%;
   font-weight: bold;
}

.stepwizard-step a{
	width: 100%;
}

.stepwizard-step a b{
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: gray;
	color: #fff;float: right;
	margin-left: 4px;
}


/*************************************************/


/*---------------------------------------------------------
modal
----------------------------------------------------------*/

#form_modal{
	text-align: center;

}

#form_modal .modal-dialo{
	width: 500px;
	background-color: #eee;
	font-family:  Montserrat-Arabic-Regular;
	text-align: left;
	padding: 10px;
}

#form_modal .modal-dialo h4{
	font-family:  Montserrat-Arabic-Bold;
}

#form_modal .modal-dialo h4 i{
	float: right;
}


/***********************footer*********************
*************************************************/

#footer{
	padding: 20px;
	text-align: left;
	background-color: rgb(24,23,20);
	color: #fff;
	font-family:  Montserrat-Arabic-Regular;
}

#footer .col-lg-6 h2{
	padding: 20px;
	width: 90%;
	height: 120px;
	font-size: 18px;
	text-align: center;
}

#footer .col-lg-6 form{
	float: right;
}

#footer .col-lg-6 input{
	max-width: 250px;
	padding: 25px;
}

#footer .col-lg-6 button{
	background-color: rgb(248,144,18);
	color: #fff;
	padding: 10px;
	border: none;
	width: 100px;
}

#footer .col-lg-3{
	padding: 30px;
}

#footer .col-lg-3 p{
	text-align: left;
}

#footer .col-lg-3 h4{
	color: rgb(160,112,54);
	font-size: 19px;
}

#footer .col-lg-3 i{
	margin: 5px;
}

#footer .col-lg-9{
	
}

#footer .col-lg-9 ul{
	list-style-type: none;
}

#footer .col-lg-9 ul li a{
	color: silver ; 
	float: left;
	padding: 10px;
	font-weight: bold;
}

/*************************************************/

/*/////////////////////////MOBILE DESIGIN///////////////*/
@media only screen and (max-width: 1000px) {

/*---------------------------------------------------------
mobilel General
----------------------------------------------------------*/

img{
	border : none ;
}

html , body{
	padding: 0px;
}

#header .bottom , #header #top {
		display: none;
}
/*---------------------------------------------------------
----------------------------------------------------------*/


/*---------------------------------------------------------
mobilel why
----------------------------------------------------------*/
#pointer{
		font-size: 20px;
}
/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
mobilel Hero
----------------------------------------------------------*/
#hero {
	height: 370px;
}

#hero h1 {
		font-size: 35px;
		padding-top: 60px;

}

#hero p{
	width: 95%;
	font-size: 20px;
	font-weight: 200; 
}
/*---------------------------------------------------------
----------------------------------------------------------*/


/*---------------------------------------------------------
mobilel why
----------------------------------------------------------*/
#why h4 , h2{
	font-size: 30px;
}

#why p{
	font-size: 20px;
}

#why .col-lg-2{
	font-size: 25px;
	height: 60px;
}

#why p{
	font-size: 20px;
	font-weight: 200;
}

#why img{
	position: absolute;
	right: 30px;
	width: 60px;
	height: 60px;
	margin: 5px;
}
/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
mobilel why
----------------------------------------------------------*/
#about{
	margin:0;
	background : none ;
	background-color: #222222;
	padding-top: 50px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 50px;
}

#about h4 , h2{
	font-size: 30px;
}

#about p{
	font-size: 20px;
	font-weight: 200;
}

#about button{
	font-size: 20px;
}
/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
mobilel why
----------------------------------------------------------*/
#services h4 {
	font-size: 25px;
}

#services h2{
	font-size: 20px;
}

#services .col-lg-4{
	width: 100%;
}

#services .col-lg-4 h5{
	font-size: 25px;
	height: 70px;
	font-weight: 700;
}

#services .col-lg-4 p{
	font-size: 23px;
	font-weight: 200;
}

#services .col-lg-4 img{
	position: absolute;
	right: 50px;
	top : 50px;
	width: 70px;
	height: 70px;
	border: solid 1px #888 ;
	border-radius: 50%;
	padding: 5px;
}

#services .col-lg-4 a{
	font-size: 20px;
}
/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
mobilel statics
----------------------------------------------------------*/
#statics h4 {
	font-size: 30px;
}

#statics h2{
	font-size: 25px;
}

#statics .col-lg-2{
	width: 50%;
}

#statics .row .col-lg-2 h3{
	font-size: 40px;
}

#statics .row .col-lg-2 b{
	font-size: 18px;
}

/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
Mobile fileds
----------------------------------------------------------*/
#fileds h4{
	font-size: 30px;
}

#fileds h2{
	font-size: 25px;
}

#fileds  .item{
	width: 47%;
}

#fileds  .item h5{
	font-size: 19px;
	height: 20px;
}

#fileds  .item a{
	font-size: 17px;
}
/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
Mobile galary
----------------------------------------------------------*/
#galary h4{
	font-size: 30px;
}

#galary h2{
	font-size: 25px;
}

#galary{
		padding-top:50px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		clear: both;
		width: 100%;
	}
/*
#galary .row img{
	margin: 0;padding: 0;
	width: 90%;
	height: 300px;
}*/

	#galary .col-lg-4 img{
		width: 31%;
		float: right;
		height: 250px;
	}

	#galary .col-lg-4 .center{
		width: 47%;
		float: right;
	}

/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
Mpbile partener
----------------------------------------------------------*/
#partener h4{
	font-size: 30px;
}

#partener h2{
	font-size: 25px;
}
/*---------------------------------------------------------
----------------------------------------------------------*/

/*---------------------------------------------------------
mobilel footer
----------------------------------------------------------*/
#footer{
	padding: 0;margin:0;
}

#footer .row .col-lg-6{
	padding: 0;margin:0;
	width: 100%;
}

#footer .col-lg-6 h2{
	margin:0px;padding:20px;
	width: 100%;
	font-size: 25px;
}

#footer .row .col-lg-6 form{
	width: 100%;
	background-color: red;
	float: none;
	text-align: center;
}

#footer .col-lg-3{
	padding: 10px;
}


#footer .col-lg-6 form{
	margin-right:20%;
	margin-left:20%;
}

#footer .col-lg-3 h4{
	padding: 0;margin:0;
	font-size: 25px;
	text-align: center;
}

#footer .col-lg-3 p{
	padding: 0;margin:0;
	font-size: 20px;
	text-align: center;
}

#footer .row .col-lg-9{
	margin-left: 10%;
	margin-right: 10%;
}

#footer .row .col-lg-9 ul{
	padding: 0;margin:0;
}

#footer .row .col-lg-9 ul li a{
	font-size: 15px;
	font-weight: 200;
	padding: 5;margin:5;
}

}
/*---------------------------------------------------------
----------------------------------------------------------*/

}
